@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    background-color: #222;
    color: white;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 70px;
}

/* 헤더 */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #222;
    border-bottom: 0px solid #444;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(100,100,100,0.5);

    font-family: "Quintessential", serif;
    font-size: 30px;    
    padding: 10px;
}

.logo {
    margin-left: 20px;
}

.github-icon {
  width: 28px;
  height: 28px;
  filter: invert(1);
  margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 60px;
}

/* 본문 */
.main-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 70px;
    position: sticky;
    top: 50px;
    z-index: 10;
}

.section-right, .section-left {
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid #ccc;
    scroll-margin-top: 70px;
}

.section-right {
  align-items: flex-end;
  text-align: right;
}

.main-container h1 {
    font-family: "Quintessential", serif;
}

.main-container p {
    font-size: 20px;
    color: #aaa;
}

/* 버튼 */
.btn-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    z-index: 99;

    opacity: 75%;
    background-color: #ccc;
    border: none;
    border-radius: 50%;

    font-family: "Quintessential", serif;
    font-size: 22px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-top:hover {
    background-color: #444;
    color: #fff;
    border: 0px solid #fff;
}

